[user]
	email = matthewdeancooper@gmail.com
	name = Matthew
[core]
	editor = emacsclient -c
[github]
	user = matthewdeancooper
	username = matthewdeancooper
	token = token
[credential]
	helper = cache
